:root {
  --primary-color: #6003C3;
  --white: #FFFFFF;
  --box-color-1: #FCFF00;
  --box-color-2: #57FFC9;
  --box-color-3: #A5FF01;
}

body {
  font-family: 'Bebas Neue', Impact, sans-serif;
}

header {
  background-color: #6003C3;
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

h1 {
  text-align: center;
  background-color: #6003C3;
  color: white;
  font-size: 61px;
}


p#message {
  text-align: center;
  font-size: 40px;
}

.boxes {
  display: flex;
  justify-content: space-around;
}

#box-1, #box-2, #box-3 {
  width: 250px;
  height: 250px;
  border: solid 6px #6003C3;
  text-align: center;
  font-size: 197px;
  color: #6003c3;
}

#box-1 {
  background-color: #FCFF00;
}

#box-2 {
  background-color: #57FFC9;
}

#box-3 {
  background-color: #A5FF01;
}

.score {
  font-size: 30px;
  text-align: center;
  padding-top: 2%;
}

